@model PairingTest.Web.Models.QuestionnaireViewModel

<html>
    <head>
        <title>@Model.QuestionnaireTitle</title>
    </head>
    <body>
        <h1>@Model.QuestionnaireTitle</h1>

        @{
            foreach (var question in Model.QuestionsText)
            {
                <div>
                    <p>@question</p>
                </div>
            }
        }
    </body>
</html>
