@model PairingTest.Web.Models.QuestionnaireViewModel

<html>
    <head>
        <title>@Model.QuestionnaireTitle</title>
    </head>
    <body>
        <h1>@Model.QuestionnaireTitle</h1>

        <ol>
            @{
                var i = 0;
                foreach (var question in Model.QuestionsText)
                {
                    <li>
                        <p>@question</p>
                        <div>
                            <ul style="list-style-type: none">
                                @foreach (var answer in Model.AnswersText)
                                {
                                    <li>
                                        <input type="radio" name="question-@i"> @answer
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    i++;
                }
            }
        </ol>
    </body>
</html>
