@{
    var percentage = ViewData["Percentage"].ToString();
}
<html>
    <head>
        <title>Questionnaire Result</title>
    </head>
    <body>
        <h1></h1>
        <p>You have socred @percentage% on this questionnaire.</p>
    </body>
</html>
